@charset "UTF-8";
*{margin: 0; padding: 0;}

body{background: #19182d;}

.main{
  height: 100vh;
  display: flex;
	justify-content: center;
  align-items: center;
}
.main .skills{width: 600px;}

.main .skill{}
.main .skill .skill_name{
	font-size: 18px;
	text-transform: uppercase;
	margin: 20px 0; color: #fff;
}
.main .skill .skill-bar{
	height: 20px; background: #cacaca;
	border-radius: 8px;
}
.main .skill .skill-bar .skill-per{
	position: relative;
	background: #0fbcf9;
	width: 30px; height: 20px; 
	border-radius: 8px;
	transition: 2s;
}
.main .skill .skill-bar .skill-per::after{
	content: attr(per);
	position: absolute;
	right: 0; top: -35px; 
	background: #fff; color: #000;
	font-size: 12px; border-radius: 4px;
	padding: 4px 16px;
}
.main .skill .skill-bar .skill-per::before{
	content: "";
	position: absolute;
	right: 17px; top: -17px;
	background: #fff;
	width: 10px; height: 10px;
	transform: rotate(45deg);
}