@charset "UTF-8";
*{margin: 0; padding: 0;}
.clearfix::after{content: ""; clear: both; display: block;}

.wrap{}
.wrap .tob_box{
	position: relative;
	height: 100vh; background: #080808;
}
.wrap .tob_box h2{
	color: #333; font-size: 80px;
	position: absolute; left: 50%; top: 50%;
	transform: translate(-50%, -50%);
}
.fix_motion{background: blue;}
.fix_motion .fix_wrap{height: 400vh; width: 100%;}
.fix_motion .fix_wrap .device_fix{
	/* sticky는 나의 부모요소 모두에게 overflow:hidden; 적용X */
	position: sticky;
	top: 0; 
}
.fix_motion .fix_wrap .device_fix .inner{
	width: 100%; height: 100vh;
	overflow: hidden;
}
.fix_motion .device_fix .slide_wrap{
	position: relative;
	width: 100vw; height: 100vh;
}
.fix_motion .device_fix .slide_wrap .slide{
	position: absolute; width: 400vw; height: 100%;
	left: 0; top: 0; transition: .5s;
}
.fix_motion .device_fix .slide_wrap .slide .child{
	float: left; 
	width: 100vw; height: 100vh;
	position: relative;
}
.fix_motion .device_fix .slide_wrap .slide .child1{background: #990000;}
.fix_motion .device_fix .slide_wrap .slide .child2{background: #FF5B00;}
.fix_motion .device_fix .slide_wrap .slide .child3{background: #D4D925;}
.fix_motion .device_fix .slide_wrap .slide .child4{background: #FFEE63;}

.fix_motion .device_fix .slide_wrap .slide .child h2{
	color: #333; font-size: 80px;
	position: absolute; left: 50%; top: 50%;
	transform: translate(-50%, -50%);
	transition: .3s .3s;
}
.fix_motion .device_fix .slide_wrap .slide .child.active h2{
	color: blue;
}