@charset "UTF-8";

/* reset */
*{margin: 0; padding: 0;}

li{list-style: none;}
a{text-decoration: none; color: #333;}

.clearfix::after{content: ""; clear: both; display: block;}


/* wrap */
#wrap{
	width: 1000px;
	margin: 0 auto;
}

/* header */
#header{}
#header h1{
	float: left;
	padding: 15px 0 0;
}
#header h1 a{}
#header h1 a img{
	width: 120px;
}
#header .nav{
	float: right;
	background-color: #ddd;
}
#header .nav ul{}
#header .nav ul li{
	position: relative;
	float: left;
	width: 140px;
	text-align: center;
	color: blue;
}
#header .nav ul li a{
	display: block;
	padding: 24px 20px 20px;
	transition: 0.3s;
}
#header .nav ul li a:hover{
	background-color: #ccc;
	/* hover와 같은 가상태그는 :앞의 태그가 부모
	-->transform 등의 태그는 부모에게 작성해준다 */
}
#header .nav ul li .submenu{
	display: none;
	position: absolute;
	left: 0;
	top: 65px;
	z-index: 10;
	/* z-index는 반드시 position이 있어야 적용됨 */
}
#header .nav ul li .submenu li{}
#header .nav ul li .submenu li a{
	background-color: #888;
	padding: 10px;
}
#header .nav ul li .submenu li a:hover{
	background-color: #666;
}


/* banner */
#banner{
	overflow: hidden;
	margin-top: 5px;
}
#banner .slidelist{
	position: relative;
	width: 3000px;
	/* wrap넓이 : 1000px, img넓이: 화면의 100%;
	--> 이미지3개 = 3000px */
}
#banner .slidelist .slideImg{
	position: relative;
	width: 1000px;
	float: left;
}
#banner .slidelist .slideImg h2{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(0, 0, 0, 0.4);
	color: #fff;
	padding: 10px 30px;
	border-radius: 20px;
}
#banner .slidelist .slideImg img{
	width: 100%;
	/* img태그에 빈 공간이 생길 시 처리방법
	원인 : img태그가 inline요소이기 때문
	1. display: block;
	2.vertical-align : top; */
	vertical-align: top;
}


/* content1 */
#content1 {margin-top: 20px;}
#content1 .left{
	float: left;
	width: 49%;
	/* background: color img repeat position/size; */
	background: #f2f2f2 url(../images/bg1.jpg) no-repeat right 20px center/80px;
	padding: 20px;
	box-sizing: border-box;
}
#content1 .left .title{
	font-size: 22px;
	padding-bottom: 5px;
}
#content1 .left .desc{
	font-size: 14px;
	color: #666;
	padding-bottom: 15px;
}
#content1 .left .btn{
	background: url(../images/icon1.jpg) no-repeat left center;
	background-size:20px;
	padding-left: 25px;
}

#content1 .right{
	float: right;
	width: 49%;
	background: #f2f2f2 url(../images/bg2.jpg) no-repeat right 20px center/80px;
	padding: 20px;
	box-sizing: border-box;
}
#content1 .right .title{
	font-size: 22px;
	padding-bottom: 5px;
}
#content1 .right .desc{
	font-size: 14px;
	color: #666;
	padding-bottom: 15px;
}
#content1 .right .btn{
	background: url(../images/icon2.jpg) no-repeat left center;
	background-size:20px;
	padding-left: 25px;
}


/* content2 */
#content2{margin-top: 30px;}
#content2 .tab_menu{}
#content2 .tab_btn{}
#content2 .tab_btn ul{}
#content2 .tab_btn ul li{float: left; margin-right: 15px;}
#content2 .tab_btn ul li a{
	/* inline요소 - margin,padding값 상하x 좌우o */
	padding-bottom: 10px;
	display: block;
	/* --> 패딩적용, 영역 내 어떤 곳이든 클릭하면 버튼 역할을 수행 */
	font-size: 24px;
	color: #999;
}
#content2 .tab_btn ul li.active a{color: #000;}
#content2 .tab_cont img{width: 95%; margin: 0 auto;}


/* #content2 .tab_cont{}
#content2 .tab_cont div{}
#content2 .tab_cont div figure{float: left; width: 32%; margin-right: 2%;}
#content2 .tab_cont div figure:last-child{margin-right: 0;}
#content2 .tab_cont div figure img{width: 100%;}
#content2 .tab_cont div figure figcaption{} */


/* footer */
#footer{background-color: #202020; margin-top: 30px;
padding: 20px;}
#footer h2{float: left;}
#footer h2 img{width: 150px;}

#footer .foot{float: right;}
#footer .foot ul{padding-bottom: 10px;}
#footer .foot ul li{display: inline;}
#footer .foot ul li a{color: #fff; padding-right: 10px;}

#footer address{color: #ccc; font-style: normal;}




/* layer팝업 */
.layer-bg{
	display: none;
	position: fixed;
	left: 0; top: 0; 
	right: 0; bottom: 0; 
	/* width: 100%; height: 100%; */
	background-color: rgba(0,0,0,0.8);
}
.layer-bg .layer{
	position: absolute;
	width: 500px; height: 500px; background-color: #fff; padding: 20px;
	left: calc(50% - 250px);
	top: calc(50% - 250px);
	/* transform: translate(-50%, -50%); */
}
.layer-bg .layer h2{}
.layer-bg .layer .close{
	position: absolute;
	right: 20px; bottom: 20px;
}