@charset "UTF-8";

*{margin: 0; padding: 0;}

section{
  position: relative;
  height: 100vh;
}
section .cover{
  position: absolute;
	width: 500px; height: 400px;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
}
section .cover .bg{
	height: 100%;
	background: url(img.jpg)no-repeat center;
	background-size: cover;
    /* https://bennettfeely.com/clippy/ */
	clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
	transition: .5s;
}
section .cover:hover .bg{
	clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}