@charset "UTF-8";
body{margin: 0; padding: 0;
  background: #000;}

.main{
  perspective: 600px;
  position: relative;
  width: 100%; height: 100vh;
  overflow: hidden;
}
.main .human{
  position: absolute;
  width: 300px;
  left: calc(50% - 150px);
  top: 5%;
  z-index: 100;
}
.main .textWrap{
	transform-style: preserve-3d;
  position: absolute;
  width: 60%; /* 넓이 줘야 화면에 나옴 */
  left: 50%; top: 10px;
  transform: translateX(-50%);
  z-index: 99;
}
.main .textWrap .text3d{}
.main .bg{
  position: absolute;
  width: 130%;
  left: -20%; top: -20%;
}
.main .pipe{
  position: absolute;
  width: 700px;
  top: 10%; left: -200px;
  z-index: 100;
}